@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family:'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family:'Times New Roman', Times, serif
}

.background {
  height: 87vh;
}

.background-title {
  background-color: #93c4fd73;
  width: 40%;
  margin-left: 0px;
}

.background-paragraph {
  background-color: rgba(253, 85, 203, 0.322);
  width: 100%;
  height: 23%;
}
.background-paragraph3 {
  width: 33%;
  height: 100vh;
}
.background-paragraph2 {
  width: 33%;
  height: 100vh;
}

.paragrafo-food {
  position: relative;
  width: 64vh;
  height: 20vh;
  top: 80vh;
  color: rgb(0, 0, 0);
  background-color: #a14a0393;
}

.paragrafo-track {
  position: relative;
  width: 64vh;
  height: 20vh;
  top: 80vh;
  color: rgb(0, 0, 0);
  background-color: #00000042;
}

.paragrafo-exercises {
  position: relative;
  width: 64vh;
  height: 20vh;
  top: 80vh;
  color: rgb(0, 0, 0);
  background-color: #036aa193;
}

/* NAVIGATION BUTTONS POSITION */
.navigation-buttons-position {
  position: absolute;
  top: 50%;
  left: 17%;
}
/* DASHBOARD */
/* QUOTE AUTHOR */
.author-position {
  position: relative;
  top: 25px;
  right: 10%;
  align-items: center;
  font-style: italic;
  font-size: 15px;
  color: #838f8f;
}

.quote-icon-position {
  position: absolute;
  top: 27vh;
  left: 48%;
}

.quote {
  font-size: 20px;
  font-style: italic;
  margin-left: 5px;
  color: #334155;
}

    /* TITLES */
/* DATABASE TITLE */
.database-title {
  font-family: 'Poppins', 'Helvetica', sans-serif;
}
/* BUTTONS I'M READY */
.button-dashboard {
  --green: #ffe600;
  font-size: 20px;
  padding: 0.9em 2.9em;
  letter-spacing: 0.06em;
  position: relative;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, #ffe6009a 1%, transparent 40%,transparent 60% , #ffe60075 100%);
  color: var(--green);
  background-color: #3b83f6fd;
  box-shadow: inset 0 0 10px #ffe6009c, 0 0 9px 3px #ffe60088;
}

.button-dashboard:hover {
  color: #ffa600;
  box-shadow: inset 0 0 10px #ffe600, 0 0 9px 3px #ffe600;
}

.button-dashboard:before {
  content: "";
  position: absolute;
  left: -2em;
  width: 6em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, #ffe60057 40%,#ffe6002d 60% , transparent 100%);
}

.button-dashboard:hover:before {
  transform: translateX(10em);
}

/* BUTTON API CALLS FROM PAGES */

.button-dashboard-api {
  margin-top: 10px;
  --green: #eab308;
  font-size: 20px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  left: 34%;
  font-family: inherit;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, #eab2086c 1%, transparent 40%,transparent 60% , rgba(	122, 160, 204, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(96, 122, 154, 0.4), 0 0 9px 3px #eab20867;
}

.button-dashboard-api:hover {
  color: #eab308;
  box-shadow: inset 0 0 10px rgba(206, 204, 171, 0.6), 0 0 9px 3px rgba(122, 160, 204, 0.2);
}

.button-dashboard-api:before {
  content: "";
  position: absolute;
  left: -6em;
  width: 6em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(122, 160, 204, 0.1) 40%,rgba(134, 178, 228, 0.1) 60% , transparent 100%);
}

.button-dashboard-api:hover:before {
  transform: translateX(15em);
}

/* CHALLENGE POSITION */
.todolist-position {
    position: absolute;
    top: 45%;
    right: 20%;
    padding: 20px;
}
  /* INPUT */

.input-type {
  width: 70%;
  padding: 12px 20px;
  margin-left: 25px;
  display: inline-block;
  border: 2px solid #42536b;
  box-shadow: inset 0 0 10px rgba(96, 122, 154, 0.4), 0 0 9px 3px rgba(122, 160, 204, 0.1);
}


/* CHALLENGE BUTTON */
.todo-button {
  background-color: white;
  max-width: 300px;
  margin: 10px;
  margin-left: 26px;
  --green: rgb(6, 117, 207);
  font-size: 20px;
  padding: 0.7em 1.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid #42536b;
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(96, 122, 154, 0.4), 0 0 9px 3px rgba(122, 160, 204, 0.1);
}

.todo-button:hover {
  color: #7AA0CC;
  box-shadow: inset 0 0 10px rgba(102, 166, 209, 0.6), 0 0 9px 3px rgba(34, 113, 202, 0.2);
}

.todo-button:before {
  content: "";
  position: absolute;
  left: -6em;
  width: 6em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(122, 160, 204, 0.1) 40%,rgba(66, 168, 194, 0.192) 60% , transparent 100%);
}

.todo-button:hover:before {
  transform: translateX(15em);
}

.todo-span {
  margin-right: 25px;
  color: rgb(6, 117, 207);
}

    /* DATABSES BUTTONS */

.multi-button {
  --green: #93C5FD;
  position:static;
  top: 20%;
  margin-top: 20px;
  padding: .2rem;
  background: hsl(var(--primary-1));
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(8, 155, 111, 0.1) 1%, transparent 40%,transparent 60% , rgba(	122, 160, 204, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(96, 122, 154, 0.4), 0 0 9px 3px rgba(122, 160, 204, 0.1);
}

.multi-button-label {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-left: 30px;
  padding: .7rem 1rem; 
  color: #93c5fd;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Poppins', 'Helvetica', sans-serif;
  letter-spacing: 4px;
  transition: all .4s var(--transition); 
}

.multi-button-label:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 0;
  top: 20%;
  left: 50%;
  transition: all .25s var(--transition);
}

.multi-button-label:hover:before {
  width: 80%;
  left: 10%;
  top: 10%;
  border-top: 2px solid #eab308;
}

.datatable {
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(8, 155, 111, 0.1) 1%, transparent 40%,transparent 60% , rgba(	122, 160, 204, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(58, 118, 190, 0.4), 0 0 16px 3px rgba(122, 160, 204, 0.1);
  background-color: #93c5fd;
  width: 80%;
}

.datatable-recipes {
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(8, 155, 111, 0.1) 1%, transparent 40%,transparent 60% , rgba(	122, 160, 204, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(58, 118, 190, 0.4), 0 0 16px 3px rgba(122, 160, 204, 0.1);
  background-color: #93c5fd;
  width: 100%;
}

/* MODAL */
.modal-body {
  position: absolute;
  margin-inline: 217px;
  max-height: calc(100vh - 300px);
  overflow-y: auto;
  width: 500px;
  padding-top: 0px;
  margin-top: 0px;
  background-color: #b6d6f5c2;
  border: #3E859F;
}

/* MODAL BUTTON */

.modal-button-label {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-left: 30px;
  padding: .7rem 1rem; 
  color: #075985;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Poppins', 'Helvetica', sans-serif;
  letter-spacing: 4px;
  transition: all .4s var(--transition); 
  cursor: pointer;
}

.modal-button-label:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 0;
  top: 20%;
  left: 50%;
  transition: all .75s var(--transition);
}

.modal-button-label:hover:before {
  width: 80%;
  left: 10%;
  top: 80%;
  border-bottom: 2px solid #075985;
}

/* EXERCISES */
.exercise-card {
  width: 350px;
  height: 445px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-inline: 10px;
  border-top: 4px solid yellow;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-transform: capitalize;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 326px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.body-parts-position {
  position: relative;
  top: 10px;
  left: 500px;
  width: 350px;
  height: 180px;
  margin-bottom: 30px;
  background-color: white;
  margin-inline: 10px;
  border-top: 4px solid yellow;
  padding-bottom: 10px;
  transition: 0.3s all ease-in-out;
}

/* RECIPE CARD*/
.recipe-card {
  width: 350px;
  height: 445px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-inline: 10px;
  border-top: 4px solid #b91c1c;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-transform: capitalize;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.recipe-card img {
  height: 326px;
}

.recipe-card:hover,
.recipe-card:hover {
  transform: scale(1.1, 1.1);
}

.button-recipe-api {
  margin-top: 10px;
  --green: #ffffff;
  font-size: 20px;
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  left: 34%;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, #ceb7b779 1%, transparent 70%,transparent 30% , #ceb7b779 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(96, 122, 154, 0.4), 0 0 9px 3px #dfb1b14d;
}

.button-recipe-api:hover {
  color: #b91c1c;
  box-shadow: inset 0 0 10px #da53534d, 0 0 9px 3px #f31d1d4d;
}